alabaster==0.7.12
altgraph==0.17
attrs==20.3.0
Babel==2.9.0
certifi==2020.12.5
chardet==3.0.4
click==8.0.1
commonmark==0.9.1
docutils==0.16
Flask==2.0.1
Flask-Cors==3.0.10
flit==3.2.0
flit-core==3.2.0
glob2==0.7
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.1
macholib==1.14
Mako==1.1.3
MarkupSafe==2.0.1
numpy==1.20.2
packaging==20.7
pandas==1.2.4
parse==1.18.0
parse-type==0.5.2
pluggy==0.13.1
protobuf==3.15.8
psycopg2-binary==2.8.6
py==1.9.0
pycryptodome==3.10.1
pyglet==1.5.15
Pygments==2.7.3
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyparsing==2.4.7
pytest==6.1.2
pytest-bdd==4.0.2
python-dateutil==2.8.1
pytz==2020.4
recommonmark==0.6.0
requests==2.25.0
scapy==2.4.4
six==1.15.0
snowballstemmer==2.0.0
Sphinx==3.3.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
urllib3==1.26.2
Werkzeug==2.0.1
